.newTodoForm {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
}

label {
  min-width: 100%;
  margin-bottom: 2%;
  font-size: 26px;
}

input {
  flex-grow: 1;
  border: none;
  background: #a8d5f3;
  padding-left: 10px;
  color: #533d3d;
  border-radius: 6px;
}

.btn-add {
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background: #1675e2;
}

input,
button {
  height: 50px;
}

.btn-filter {
  margin-top: 5%;
  margin-right: 10px;
  height: 40px;
  width: auto;
  border-radius: 6px;
  background: rgb(37, 80, 80);
}
